

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    margin: 0 auto;
    max-width: 900px;
}

.kutu {
    flex: 1;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    text-align: center;
}

img {
    max-width: 100%;
    height: 230px;
    width: 100%; 
}
section{
    width: 230px; ;
}





